<p id="notice"><%= notice %></p>

<h1><%= link_to @tournament.name, tournament_path(@tournament) %></h1>
<h2><%= link_to @pool.name, pool_path(tournament_id: @tournament.id, id: @pool.id) %></h2>

<% if @matches.empty? %>
  <%= link_to 'Generate round robin matches', pool_create_matches_path(tournament_id: @tournament.id, id: @pool.id) %>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Fighter number</th>
        <th>Red Fighter</th>
        <th>Blue Fighter</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td>match.order</td>
          <td>match.red_fighter_name</td>
          <td>match.blue_fighter_name</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
